body {
	font-family: Avenir;
	text-align: center;
}

span {
	background-color: yellow;
}

strong{
	color: pink;
}

img{
	border: 3px solid hotpink;
	height: 300px;
}

h1{
	border: 3px solid hotpink;
	width: 50%;
	text-align: center;
}

h1{
	text-align: center; 
}