body {
	font-family: Avenir;
	text-align: center;
}

}
span {
	background-color: yellow;
}

strong{
	color: pink;
}

img{
	border: 3px solid hotpink;
	height: 300px
	display: block;
	width: 50%;
}

h1{
	text-align: center; 
}

#title{
	color: blue;
	font-style: italic; 
}

.goal{
	color: purple;
}